*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 10px;
    background: #8E24AA;
    background: linear-gradient(45deg,  #42a5f5 0%,#478ed1 50%,#0d47a1 100%);
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}  

.display__time-left {
    font-weight: 100;
    font-size: 20rem;
    margin: -20px;
    color: white;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, .05);
}

.timer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    gap: 3px;
}

  
.timer__controls input {
    border: 0;
    padding: 2rem;
}

.timer__controls button, .timer__button {
    background: none;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    background: rgba(0,0,0,0.1);
    padding: 1rem;
    font-family: 'Inconsolata', monospace;
}

.timer__controls button:hover, .timer__mode button:hover {
    background: rgba(0,0,0,0.2);
    outline: 0;
}

.display__end-time, .display__type-time {
    font-size: 4rem;
    color: white;
    line-height: 0px;
}

.display__type-time {
    text-transform: uppercase;
}

button#start {
    background: rgb(34, 157, 133);
}

button#reset {
    background: rgb(138, 39, 83);
}

button#start:hover {
    background: rgb(30, 129, 109);
}

button#reset:hover {
    background: rgb(122, 34, 72);
}

.timer__mode {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
}

.timer__mode button {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.display {
    flex: .8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer__controls {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
}

.timer__buttons {
    display: flex;
    flex: 1;
    justify-content: center;
}

.timer__buttons button {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.timer__forms {
    display: flex;
    justify-content: center;
}

.timer__forms div {
    display: flex;
}

.timer__forms input {
    width: 20vw;
}
.timer__forms button {
    width: 5vw;
}

@media (max-width: 984px) {
    .timer__controls {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .timer__forms, .timer__buttons {
        width: 100vw;
    }
    .timer__forms {
        display: flex;
        justify-content: space-between;
    }
    .timer__forms input {
        width: 35vw;
    }
    .timer__forms button {
        width: 15vw;
        font-size: 1.5rem;
    }
    .display__time-left {
        font-size: 10rem;
        margin: 0;
    }
    .display__end-time {
        font-size: 25px;
    }
}
